<template>
    <v-app>
        <v-content>
            <v-container
                fluid
                fill-height>
                <v-layout
                    align-center
                    justify-center>
                    <v-flex
                        xs12
                        sm10>
                        <v-card class="elevation-12">
                            <v-toolbar
                                dark
                                color="primary">
                                <v-toolbar-title>Login</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field
                                        v-model="emailAddress"
                                        label="Email address"
                                        type="email"
                                        @keyup="formKeyUp"/>
                                    <v-text-field
                                        id="password"
                                        v-model="password"
                                        label="Password"
                                        type="password"
                                        @keyup="formKeyUp"/>
                                </v-form>
                                <p>New? <router-link to="/register">Register</router-link></p>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer/>
                                <v-btn 
                                    color="primary" 
                                    @click="login">Login</v-btn>
                            </v-card-actions>
                        </v-card>
                        <v-alert
                            :value="showError"
                            transition="scale-transition">
                            {{ errorDescription }}
                        </v-alert>

                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import AuthApi from "../Api/AuthApi";
import UserApi from "../Api/UserApi";
import EventBus from "../Utils/EventBus";

export default {
    name: "Login",
    data() {
        return {
            emailAddress: "",
            password: "",
            showError: false,
            errorDescription: "",
            userApi: new UserApi(""),
            eventBus: EventBus
        }
    },
    methods: {
        formKeyUp(e) {
            if(e.keyCode === 13) {
                this.login();
            }
        },
        parseJwt(token) {
            const base64Url = token.split(".")[1];
            const base64 = decodeURIComponent(atob(base64Url).split("").map(function (c) {
                return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(""));

            return JSON.parse(base64);
        },
        login() {
            const authApi = new AuthApi();
            authApi.login(this.emailAddress, this.password).then(response => {
                if (response.responseType === "success") {
                    window.localStorage.setItem("authToken", response.data.authToken);
                    const userApi = new UserApi(response.data.authToken);
                    const userId = this.parseJwt(response.data.authToken)["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/sid"];
                    userApi.getUser(userId).then(response => {
                        window.localStorage.setItem("user", JSON.stringify(response.data));
                        this.eventBus.$emit("login");
                        this.$router.push("main");
                    });
                } else {
                    this.showError = true;
                    this.errorDescription = response.message;
                    setTimeout(() => {
                        this.showError = false;
                    }, 5000);
                }
            }).catch(() => {
                this.showError = true;
                this.errorDescription = "The server could not be reached. Please try again later.";
                setTimeout(() => {
                    this.showError = false;
                }, 5000);
            });
        }
    }
}
</script>

<style scoped>

</style>