<template>
    <div>
        <h1>Organizations:</h1>
        <p>Create an organization to start registering you and your employees' time.</p>
        <v-list>
            <v-list-tile
                v-for="organization in organizations"
                :key="organization.id"
                :to="'organization/' + organization.id"
                avatar>
                <v-list-tile-avatar>
                    <organization-logo :organization-id="organization.id"/>
                </v-list-tile-avatar>
                <v-list-tile-content>
                    <v-list-tile-title> {{ organization.name }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
        <v-btn 
            color="primary"
            @click="showNewOrganizationDialog = !showNewOrganizationDialog">
            Create a new organization
        </v-btn>
        <v-dialog 
            v-model="showNewOrganizationDialog" 
            max-width="500px">
            <v-card>
                <v-container>
                    <v-text-field 
                        v-model="newOrganizationName" 
                        label="Organization name" />
                    <v-btn 
                        v-if="newOrganizationName" 
                        color="primary"
                        @click="createOrganization">Create organization</v-btn>
                </v-container>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import OrganizationApi from "../Api/OrganizationApi";
import OrganizationLogo from "../Components/OrganizationLogo";


export default {
    name: "Main",
    components: {
        OrganizationLogo
    },
    data() {
        return {
            organizations: [],
            organizationsApi: new OrganizationApi(""),
            showNewOrganizationDialog: false,
            newOrganizationName: ""
        }
    },
    beforeMount() {
        this.organizationsApi = new OrganizationApi(window.localStorage.getItem("authToken"));
        this.user = JSON.parse(window.localStorage.getItem("user"));
        this.loadOrganizations();
    },
    methods: {
        loadOrganizations() {
            this.organizationsApi.getOrganizationsByUserId(this.user.id).then(response => {
                this.organizations = response.data;
            });
        },
        createOrganization() {
            this.organizationsApi.createOrganization(this.user.id, this.newOrganizationName).then(response => {
                if(response.responseType === "success") {
                    this.showNewOrganizationDialog = false;
                    this.newOrganizationName = "";
                    this.loadOrganizations();
                }
            })
        }
    },
}
</script>

<style scoped>

</style>