<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>
        <router-link :to="'/organization/' + organization.id"><v-icon small>fa-arrow-left</v-icon> Back to {{ organization.name }}</router-link>
        <h2>Organization members</h2>
        <v-data-table 
            :items="members" 
            :headers="memberHeaders">
            <template v-slot:items="props">
                <router-link 
                    :to="'/organization/' + organization.id + '/member/' + props.item.id"
                    tag="tr">
                    <td>{{ props.item.email }}</td>
                    <td>{{ props.item.name }}</td>
                    <td>{{ props.item.isAdmin }}</td>
                </router-link>
            </template>
        </v-data-table>
        <v-btn 
            color="primary" 
            @click="isDialogOpen = true"><v-icon small>fa-user-plus</v-icon>Add member</v-btn>

        <v-dialog
            v-model="isDialogOpen"
            max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">Add member</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex 
                                xs12>
                                <v-text-field 
                                    v-model="newEmailAddress"
                                    label="Email address"
                                    required/>
                                <v-alert
                                    :value="alert"
                                    type="success"
                                >
                                    The invitation has been sent!
                                </v-alert>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn 
                        color="blue darken-1" 
                        flat 
                        @click="submitUser">Add</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import OrganizationApi from "../Api/OrganizationApi";

export default {
    name: "OrganizationMembers",
    data() {
        return {
            members: [],
            organization: {},
            organizationApi: new OrganizationApi(window.localStorage.getItem("authToken")),
            memberHeaders: [
                {
                    text: "Email address",
                    value: "email"
                },
                {
                    text: "Name",
                    value: "name"
                },
                {
                    text: "Is admin",
                    value: "isAdmin"
                },
            ],
            isDialogOpen: false,
            newEmailAddress: "",
            alert: false,
        }
    },
    beforeMount() {
        this.organizationApi.getOrganization(this.$route.params.organizationId).then(response => {
            this.organization = response.data;
        });

        this.getOrganizationMembers();
    },
    methods: {
        submitUser() {
            this.organizationApi.addMember(this.newEmailAddress, this.organization.id).then(() => {
                this.newEmailAddress = "";
                this.alert = true;
                this.getOrganizationMembers();
                setTimeout(() => {
                    this.isDialogOpen = false;
                    this.alert = false;
                }, 2000);
            })
        },
        getOrganizationMembers() {
            this.organizationApi.getOrganizationMembers(this.$route.params.organizationId).then(response => {
                this.members = response.data;
            });
        }
    }
}
</script>

<style scoped>
tr {
    cursor: pointer;
}
</style>