<template>
    <div>
        <router-link :to="'/organization/' + organization.id + '/members'"><v-icon>fa-arrow-left</v-icon> Back to {{ organization.name }} members</router-link>
        <h2 class="text-xs-center">{{ user.name }}</h2>
        <p class="text-xs-center">
            <a
                :href="'mailto:' + user.email"
                class="text-xs-center"> {{ user.email }}</a>
        </p>
        <v-list>
            <div v-if="workedMonths <= 0">
                <p>This user did not register time yet.</p>
            </div>
            <template v-for="workedMonth in workedMonths">
                <v-list-tile
                    :key="workedMonth.date.getTime()"
                    :to="'/organization/' + organization.id + '/member/' + user.id + '/time/' + workedMonth.date.getFullYear() + '/' + toWeekNumber(workedMonth.date)">
                    <v-list-tile-avatar>
                        <v-btn
                            fab
                            small
                            color="primary">{{ workedMonth.hours }}h</v-btn>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ workedMonth.date | toMonthString }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>
        </v-list>
    </div>
</template>

<script>
import UserApi from "../Api/UserApi";
import OrganizationApi from "../Api/OrganizationApi";
import TimeApi from "../Api/TimeApi";

//https://stackoverflow.com/a/23247980/4474650
Array.prototype.sum = function (prop) {
    var total = 0;
    for ( var i = 0, _len = this.length; i < _len; i++ ) {
        total += this[i][prop]
    }
    return total
};

function getWeekNumber(date) {
    const dateObject = new Date(date);
    const d = new Date(Date.UTC(dateObject.getFullYear(), dateObject.getMonth(), dateObject.getDate()));
    const dayNum = d.getUTCDay() || 7;
    d.setUTCDate(d.getUTCDate() + 4 - dayNum);
    const yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
    return Math.ceil((((d - yearStart) / 86400000) + 1)/7)
}

export default {
    name: "OrganizationMember",
    filters: {
        toMonthString(date) {
            return date.toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
            });
        },
    },
    data() {
        return {
            userApi: new UserApi(window.localStorage.getItem("authToken")),
            timeApi: new TimeApi(window.localStorage.getItem("authToken")),
            user: {},
            organizationApi: new OrganizationApi(window.localStorage.getItem("authToken")),
            organization: {},
            allTimeRegistrations: []
        }
    },
    computed: {
        workedMonths() {
            let workedMonths = [];
            this.allTimeRegistrations.forEach(timeRegistration => {
                const workedMonthDate = new Date(timeRegistration.date);
                if(workedMonths.filter(x => x.date.getMonth() === workedMonthDate.getMonth()) <=! 0) {
                    const workedMonth = {
                        date: workedMonthDate,
                        hours: this.allTimeRegistrations.filter(x => new Date(x.date).getMonth() === workedMonthDate.getMonth()).sum("time")
                    };
                    workedMonths.push(workedMonth);
                }
            });
            return workedMonths;
        }
    },
    beforeMount() {
        this.userApi.getUser(this.$route.params.userId).then(response => {
            this.user = response.data;
        });

        this.organizationApi.getOrganization(this.$route.params.organizationId).then(response => {
            this.organization = response.data;
            this.timeApi.getTimeByUserAndOrganization(this.organization.id, this.$route.params.userId).then(response => {
                this.allTimeRegistrations = response.data;
            });
        });
    },
    methods: {
        toWeekNumber(date) {
            return getWeekNumber(date);
        }
    }

}
</script>

<style scoped>

</style>