<template>
    <v-layout
        column
        align-center>
        <v-avatar 
            tile 
            size="115">
            <organization-logo :organization-id="organizationId"/>
        </v-avatar>
        <h1>{{ organization.name }}</h1>
        <p>Today is {{ todayString }}</p>
        <v-btn 
            :to="'/organization/' + organizationId + '/time/' + today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear()"
            color="success">Register today's time</v-btn>
        <v-btn
            :to="'/organization/' + organizationId + '/history/' + today.getFullYear() + '/' + toWeekNumber(today)"
            color="primary">
            Time History
        </v-btn>
        <br>
        <v-btn 
            v-if="isAdmin"
            :to="'/organization/' + organizationId + '/members'"
            color="warning">Manage organization members</v-btn>
        <v-btn 
            v-if="isAdmin"
            :to="'/organization/' + organizationId + '/projects'"
            color="warning">
            Manage projects
        </v-btn>
        <br>
        <br>
        <v-list>
            <template v-for="workedMonth in workedMonths">
                <v-list-tile 
                    :key="workedMonth.date.getTime()" 
                    :to="'/organization/' + organizationId + '/history/' + workedMonth.date.getFullYear() + '/' + toWeekNumber(workedMonth.date)">
                    <v-list-tile-avatar>
                        <v-btn
                            fab
                            small
                            color="primary">{{ workedMonth.hours }}h</v-btn>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ workedMonth.date | toMonthString }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>
        </v-list>

    </v-layout>
</template>

<script>
import OrganizationLogo from "../Components/OrganizationLogo";
import OrganizationApi from "../Api/OrganizationApi";
import TimeApi from "../Api/TimeApi";

//https://stackoverflow.com/a/23247980/4474650
Array.prototype.sum = function (prop) {
    var total = 0;
    for ( var i = 0, _len = this.length; i < _len; i++ ) {
        total += this[i][prop]
    }
    return total
};

function getWeekNumber(date) {
    const dateObject = new Date(date);
    const d = new Date(Date.UTC(dateObject.getFullYear(), dateObject.getMonth(), dateObject.getDate()));
    const dayNum = d.getUTCDay() || 7;
    d.setUTCDate(d.getUTCDate() + 4 - dayNum);
    const yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
    return Math.ceil((((d - yearStart) / 86400000) + 1)/7)
}

export default {
    name: "Organization",
    components: {
        OrganizationLogo
    },
    filters: {
        toMonthString(date) {
            return date.toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
            });
        },
    },
    data() {
        return {
            organizationId: this.$route.params.organizationId,
            organizationApi: new OrganizationApi(window.localStorage.getItem("authToken")),
            timeApi: new TimeApi(window.localStorage.getItem("authToken")),
            organization: {},
            organizationMembers: [],
            currentUser: JSON.parse(localStorage.getItem("user")),
            isAdmin: false,
            today: new Date(),
            allTimeRegistrations: []
        }
    },
    computed: {
        todayString() {
            return this.today.toLocaleDateString("en-US", {
                weekday: "long",
                year: "numeric",
                month: "long",
                day: "numeric"
            });
        },
        workedMonths() {
            let workedMonths = [];
            this.allTimeRegistrations.forEach(timeRegistration => {
                const workedMonthDate = new Date(timeRegistration.date);
                if(workedMonths.filter(x => x.date.getMonth() === workedMonthDate.getMonth()) <=! 0) {
                    const workedMonth = {
                        date: workedMonthDate,
                        hours: this.allTimeRegistrations.filter(x => new Date(x.date).getMonth() === workedMonthDate.getMonth()).sum("time")
                    };
                    workedMonths.push(workedMonth);
                }
            });
            return workedMonths;
        }
    },
    beforeMount() {
        this.organizationApi.getOrganization(this.organizationId).then(response => {
            this.organization = response.data;
            this.timeApi.getOwnTimeByOrganization(this.organization.id).then(response => {
                this.allTimeRegistrations = response.data;
            });
        });
        this.organizationApi.getOrganizationMembers(this.organizationId).then(response => {
            this.organizationMembers = response.data;
            this.isAdmin = this.organizationMembers.find(x => x.id === this.currentUser.id).isAdmin === true;
        });
    },
    methods: {
        toWeekNumber(date) {
            return getWeekNumber(date);
        }
    }
}
</script>