<template>
    <div>
        <router-link :to="'/organization/' + organization.id"><v-icon small>fa-arrow-left</v-icon> Back to {{ organization.name }}</router-link>
        <v-layout
            column
            align-center>
            <h1>Projects</h1>
        </v-layout>
        <div 
            v-if="projects.length <= 0">
            <p class="text-xs-center">You have not made any projects yet.</p>
        </div>
        <v-list 
            v-else 
            two-line>
            <template v-for="project in projects">
                <v-list-tile :key="project.id">
                    <v-list-tile-content>
                        <v-list-tile-title>{{ project.name }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>
        </v-list>
        <v-btn 
            color="primary"
            @click="dialog = true">Create new project</v-btn>
        <v-dialog 
            v-model="dialog"
            max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">New project</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-text-field 
                                v-model="newProjectName"
                                label="Project name"
                                required/>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn 
                        :disabled="newProjectName.length <= 0"
                        color="primary" 
                        flat
                        @click="createProject">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import OrganizationApi from "../Api/OrganizationApi";
import ProjectApi from "../Api/ProjectApi";

export default {
    name: "Projects",
    data() {
        return {
            organizationApi: new OrganizationApi(window.localStorage.getItem("authToken")),
            organization: {},
            projectApi: new ProjectApi(window.localStorage.getItem("authToken")),
            projects: [],
            newProjectName: "",
            dialog: false
        }
    },
    beforeMount() {
        const organizationId = this.$route.params.organizationId;
        this.organizationApi.getOrganization(organizationId).then(response => {
            this.organization = response.data;
            this.getProjects();
        });
    },
    methods: {
        getProjects() {
            this.projectApi.getProjectsByOrganization(this.organization.id).then(response => {
                this.projects = response.data;
            });
        },
        createProject() {
            this.projectApi.createProject(this.organization.id, this.newProjectName).then(() => {
                this.getProjects();
                this.dialog = false;
                this.newProjectName = ""
            });
        }
    }
}
</script>

<style scoped>

</style>