<template>
    <div>
        <v-container>
            <v-card>
                <v-toolbar 
                    color="primary" 
                    dark>
                    <v-toolbar-title>Register</v-toolbar-title>
                </v-toolbar>
                <v-container text-xs-center>
                    <v-text-field
                        v-model="name"
                        label="Name"
                        type="text"
                        required
                    />
                    <v-text-field
                        v-model="emailAddress"
                        label="Email address"
                        type="email"
                        required
                    />
                    <v-text-field
                        v-model="password"
                        label="Password"
                        type="password"
                        required
                    />
                    <v-btn
                        color="primary"
                        block
                        @click="register()">
                        Register
                    </v-btn>
                    <br>
                    <p>Or</p>
                    <router-link to="/">Login</router-link>
                </v-container>
            </v-card>
            <v-alert
                :value="showError"
                transition="scale-transition">
                {{ errorDescription }}
            </v-alert>
        </v-container>
    </div>
</template>

<script>
import AuthApi from "../Api/AuthApi";

export default {
    name: "Login",
    data() {
        return {
            emailAddress: "",
            name: "",
            password: "",
            showError: false,
            errorDescription: "",
        }
    },
    methods: {
        register() {
            const authApi = new AuthApi();
            authApi.register(this.name, this.emailAddress, this.password).then(response => {
                if (response.responseType === "success") {
                    this.$router.push("/");
                } else {
                    this.showError = true;
                    this.errorDescription = response.message;
                    setTimeout(() => {
                        this.showError = false;
                    }, 5000);
                }
            });
        }
    }
}
</script>

<style scoped>

</style>