<template>
    <v-app>
        <Navbar
            v-if="settings.showNavbar" />
        <v-container>
            <v-flex 
                xs12 
                md10
                offset-md1>
                <component
                    :is="currentView"
                />
            </v-flex>
        </v-container>
    </v-app>

</template>

<script>
import Navbar from "../Components/Navbar";

export default {
    name: "Root",
    components: {
        Navbar
    },
    props: {
        currentView: {
            type: Object,
            default: () => {
            }
        },
        settings: {
            type: Object,
            default: () => {
            }
        }
    }
}
</script>

<style>

</style>