<template>
    <div>
        <router-link :to="'/organization/' + organization.id"><v-icon small>fa-arrow-left</v-icon> Back to {{ organization.name }}</router-link>
        <v-layout
            column
            align-center>
            <h1>Time registry</h1>
            <p>{{ dateString }}</p>
        </v-layout>
        <v-list two-line>
            <template v-for="project in allProjects">
                <v-list-tile 
                    v-if="project.time > 0" 
                    :key="project.id">
                    <v-list-tile-avatar>
                        <v-btn
                            fab
                            small
                            color="primary">{{ project.time }} h</v-btn>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ project.name }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>
            <v-divider/>
            <v-subheader>New time entry:</v-subheader>
            <v-list-tile>
                <v-layout>
                    <v-flex xs6>
                        <v-select
                            v-if="allProjects.length > 0"
                            :items="allProjects"
                            v-model="selectedProject"
                            item-text="name"
                            item-value="id"
                            label="Choose project"/>
                    </v-flex>
                    <v-flex xs3>
                        <v-text-field
                            v-model="newTimeValue"
                            min="0"
                            max="24"
                            stepsize="0.1"
                            type="number"
                            label="Hours"
                            required/>
                    </v-flex>
                    <v-flex xs3>
                        <v-btn
                            :disabled="newTimeValue <= 0 || selectedProject <= 0"
                            fab
                            small
                            color="primary"
                            @click="registerTime">&plus;
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-list-tile>
        </v-list>

        <v-alert
            :value="allProjects.length <= 0"
            type="warning"
            outline>
            To register time, you need to
            <router-link :to="'/organization/' + organization.id + '/projects'">create a project</router-link>
        </v-alert>
    </div>
</template>

<script>
import ProjectApi from "../Api/ProjectApi";
import OrganizationApi from "../Api/OrganizationApi";
import TimeApi from "../Api/TimeApi";

//https://stackoverflow.com/a/23247980/4474650
Array.prototype.sum = function (prop) {
    var total = 0;
    for ( var i = 0, _len = this.length; i < _len; i++ ) {
        total += this[i][prop]
    }
    return total
};

export default {
    name: "Time",
    data() {
        return {
            date: new Date(this.$route.params.year, this.$route.params.month - 1, this.$route.params.day),
            projectApi: new ProjectApi(window.localStorage.getItem("authToken")),
            timeApi: new TimeApi(window.localStorage.getItem("authToken")),
            organizationApi: new OrganizationApi(window.localStorage.getItem("authToken")),
            allProjects: [],
            organization: {},
            newTimeValue: 0,
            selectedProject: 0,
            timeRegistrations: []
        };
    },
    computed: {
        dateString() {
            return this.date.toLocaleDateString("en-US", {
                weekday: "long",
                year: "numeric",
                month: "long",
                day: "numeric"
            });
        }
    },
    beforeMount() {
        this.projectApi.getProjectsByOrganization(this.$route.params.organizationId).then(response => {
            this.allProjects = response.data;
        });

        this.organizationApi.getOrganization(this.$route.params.organizationId).then(response => {
            this.organization = response.data;
            this.getTimeRegistrations();
        });
    },
    methods: {
        registerTime() {
            this.timeApi.registerTime(this.date, this.selectedProject, this.newTimeValue, "").then(() => {
                this.getTimeRegistrations();
            })
        },
        getTimeRegistrations() {
            this.timeApi.getOwnTimeByDateAndOrganization(this.date, this.organization.id).then(response => {
                this.timeRegistrations = response.data;
                this.allProjects.forEach((x, index) => {
                    const timeRegistrationWithTimeIndication = x;
                    timeRegistrationWithTimeIndication.time = this.timeRegistrations.filter(y => y.projectId === x.id).sum("time");
                    this.allProjects.splice(index, 1, timeRegistrationWithTimeIndication);
                });
            })
        }
    },
}
</script>

<style scoped>

</style>