<template>
    <div>
        <router-link :to="'/organization/' + organization.id">&lt; Back to {{ organization.name }}</router-link>
        <v-layout row>
            <v-flex 
                xs3
                class="text-xs-right arrow">
                <router-link
                    :to="'/organization/' + organization.id + '/history/' + date.getFullYear() + '/' + (toWeekNumber(lastWeek))">
                    <v-icon>fa-arrow-left</v-icon>
                </router-link>
            </v-flex>
            <v-flex xs6>
                <h2 class="text-xs-center">{{ date | toMonthString }}</h2>
                <h3 class="text-xs-center">
                    <small>Week {{ weekNumber }}</small>
                </h3>
            </v-flex>
            <v-flex 
                xs3
                class="text-xs-left arrow">
                <router-link
                    :to="'/organization/' + organization.id + '/history/' + date.getFullYear() + '/' + (toWeekNumber(nextWeek))">
                    <v-icon>fa-arrow-right</v-icon>
                </router-link>
            </v-flex>
        </v-layout>
        <v-layout row>
            <template v-for="day in getWeekDays">
                <div
                    :class="{today: isToday(day)}"
                    :key="day.getDate()" 
                    class="v-calendar-daily_head-day v-past">
                    <div class="v-calendar-daily_head-weekday">{{ day | toDayString }}</div>
                    <router-link 
                        :to="'/organization/' + organization.id + '/time/' + day.getDate() + '/' + (day.getMonth() + 1) + '/' + day.getFullYear()"
                        class="v-calendar-daily_head-day-label">{{ day.getDate() }}</router-link>
                </div>
            </template>
        </v-layout>
        <v-layout row>
            <template v-for="day in getWeekDays">
                <v-flex :key="day.getDate()">
                    <template v-for="project in getProjectsWithTimeByDate(day)">
                        <div
                            :class="{hidden: project.time <= 0}"
                            :key="project.id"
                            :style="'background-color:' + project.color.base + ';border-color:' + project.color.base"
                            class="my-event">
                            {{ project.time }} h
                        </div>
                    </template>
                </v-flex>
            </template>
        </v-layout>
        <h3>Legend:</h3>
        <div v-if="timeEntries.length > 0">
            <template
                v-for="item in legend">
                <v-chip
                    :key="item.project.id"
                    :style="'background-color:' + item.color.base + ';border-color:' + item.color.base"
                    label
                    class="my-event">
                    {{ item.project.name }}
                </v-chip>
            </template>
        </div>
    </div>
</template>

<script>
import OrganizationApi from "../Api/OrganizationApi";
import TimeApi from "../Api/TimeApi";
import colors from "vuetify/lib/util/colors"
import ProjectApi from "../Api/ProjectApi";

// https://stackoverflow.com/a/16591175/4474650
function getDateOfWeek(w, y) {
    const d = (1 + (w - 1) * 7); // 1st of January + 7 days for each week

    return new Date(y, 0, d);
}

// https://stackoverflow.com/a/43008875/4474650
function getDatesInWeek(current) {
    const week= [];
    // Starting Monday not Sunday
    current.setDate((current.getDate() - current.getDay() +1));
    for (var i = 0; i < 7; i++) {
        week.push(
            new Date(current)
        );
        current.setDate(current.getDate() +1);
    }
    return week;
}

function isSameDate(date1, date2) {
    return date1.getFullYear() === date2.getFullYear() &&
            date1.getMonth() === date2.getMonth() &&
            date1.getDate() === date2.getDate();
}

//https://stackoverflow.com/a/23247980/4474650
Array.prototype.sum = function (prop) {
    var total = 0;
    for ( var i = 0, _len = this.length; i < _len; i++ ) {
        total += this[i][prop]
    }
    return total
};

export default {
    name: "TimeHistory",
    filters: {
        toMonthString(date) {
            return date.toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
            });
        },
        toDayString(date) {
            return date.toLocaleDateString("en-US", {
                weekday: "short",
            });
        }
    },
    data() {
        return {
            date: getDateOfWeek(this.$route.params.week, this.$route.params.year),
            weekDays: [],
            organzationApi: new OrganizationApi(window.localStorage.getItem("authToken")),
            timeApi: new TimeApi(window.localStorage.getItem("authToken")),
            weekNumber: this.$route.params.week,
            organization: {},
            timeEntries: [],
            projectApi: new ProjectApi(window.localStorage.getItem("authToken")),
            projects: [],
            legend: [],
            today: new Date()
        }
    },
    computed: {
        nextWeek() {
            return new Date(this.date.getFullYear(), this.date.getMonth(), this.date.getDate() + 7);
        },
        lastWeek() {
            return new Date(this.date.getFullYear(), this.date.getMonth(), this.date.getDate() - 7);
        },
        getWeekDays() {
            return getDatesInWeek(this.date);
        }
    },
    watch: {
        // https://stackoverflow.com/a/54251479/4474650
        "$route.params.week": {
            handler: function (newValue) {
                this.date = getDateOfWeek(this.$route.params.week, this.$route.params.year);
                this.weekNumber = newValue;
                this.organzationApi.getOrganization(this.$route.params.organizationId).then(response => {
                    this.organization = response.data;
                    this.getTimeEntries();
                    this.getProjects();
                });
            },
            immediate: true
        }
    },
    methods: {
        createLegend() {
            let projectCount = 0;
            let tempLegend = [];
            this.projects.forEach(project => {
                const legendObject = {
                    project: project,
                    color: Object.values(colors)[projectCount]
                };
                tempLegend.push(legendObject);
                projectCount++;
            });
            this.legend = tempLegend;
        },
        getTimeEntries() {
            this.timeApi.getOwnTimeByOrganization(this.organization.id).then(response => {
                this.timeEntries = response.data;
            })
        },
        getProjects() {
            this.projectApi.getProjectsByOrganization(this.organization.id).then(response => {
                this.projects = response.data;
                this.createLegend();
            });
        },
        toWeekNumber(date) {
            const dateObject = new Date(date);
            const d = new Date(Date.UTC(dateObject.getFullYear(), dateObject.getMonth(), dateObject.getDate()));
            const dayNum = d.getUTCDay() || 7;
            d.setUTCDate(d.getUTCDate() + 4 - dayNum);
            const yearStart = new Date(Date.UTC(d.getUTCFullYear(), 0, 1));
            return Math.ceil((((d - yearStart) / 86400000) + 1) / 7)
        },
        getProjectsWithTimeByDate(day) {
            const tempTimeRegistrations = [];
            this.projects.forEach((x) => {
                const timeRegistrationWithTimeIndication = x;
                timeRegistrationWithTimeIndication.time = this.timeEntries.filter(y => isSameDate(new Date(y.date), day) && y.projectId === x.id).sum("time");
                timeRegistrationWithTimeIndication.color = this.legend.find(z => z.project.id === x.id).color;
                tempTimeRegistrations.push(timeRegistrationWithTimeIndication);
            });
            return tempTimeRegistrations;
        },
        isToday(day) {
            const date = new Date(day);
            return isSameDate(date, new Date());
        }
    }
}
</script>

<style scoped>
    .arrow a {
        font-size: 20pt;
    }

    .v-calendar-daily_head-day-label {
        font-size: 15pt;
    }

    .my-event {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 2px;
        background-color: #1867c0;
        color: #fff;
        border: 1px solid #1867c0;
        font-size: 12px;
        padding: 3px;
        cursor: pointer;
        margin-bottom: 1px;
        left: 4px;
        margin-right: 8px;
        position: relative;
    }

    .hidden {
        visibility: hidden;
    }

    .today {
        color: #1867c0;
    }
</style>