<template>
    <div>
        <v-navigation-drawer
            v-model="showDrawer"
            absolute
            temporary
        >
            <v-list class="pa-1">
                <v-list-tile 
                    v-if="user"
                    avatar>
                    <v-list-tile-avatar>
                        <img
                            :src="'https://robohash.org/' + user.email + '?set=set5'"
                            alt="Profile picture" >

                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>{{ user.name }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile to="/main">
                    <v-list-tile-action>
                        <v-icon>fas fa-building</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        Select organization
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile @click="logout()">
                    <v-list-tile-action>
                        <v-icon>fas fa-sign-out-alt</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        Logout
                    </v-list-tile-content>
                </v-list-tile>

            </v-list>

            <v-divider/>

        </v-navigation-drawer>

        <v-toolbar>
            <v-toolbar-side-icon @click="showDrawer = !showDrawer"/>
            <v-toolbar-title>Time-Easy</v-toolbar-title>
        </v-toolbar>
    </div>
</template>

<script>
import EventBus from "../Utils/EventBus"

export default {
    name: "Navbar",
    data() {
        return {
            showDrawer: false,
            userId: 0,
            userApi: {},
            user: {},
            eventBus: EventBus
        }
    },
    beforeMount() {
        this.loadUserData();
        this.eventBus.$on("login", () => {
            this.loadUserData();
        })
    },
    methods: {
        logout() {
            window.localStorage.clear();
            this.$router.push("/")
        },
        loadUserData() {
            const user = window.localStorage.getItem("user");
            if(user !== null) {
                this.user = JSON.parse(user);
            }
        }

    }
}

</script>

<style>

</style>