<template>
    <img :src="imageSource">
</template>

<script>
import md5 from "js-md5"
import OrganizationApi from "../Api/OrganizationApi"

export default {
    name: "OrganizationLogo",
    props: {
        organizationId: {
            type: [String, Number],
            required: true
        }
    },
    data() {
        return {
            organization: {},
            organizationApi: new OrganizationApi(window.localStorage.getItem("authToken"))
        }
    },
    computed: {
        imageSource() {
            if(this.organization.logo) {
                return this.organization.logo;
            }
            return "https://www.gravatar.com/avatar/" + md5(String(this.organization.id)) + "?d=identicon&f=y";
        }
    },
    beforeMount() {
        this.organizationApi.getOrganization(this.organizationId).then(response => {
            this.organization = response.data;
        });
    }
}
</script>